<!-- banner -->
<section id="home" class="banner">
    <div class="container-fluid">
        <div class="row px-lg-3">
            <div class="col-md-8 ">
                <div class="owl-carousel owl-theme">
                    {% for article in headlines[:10] %}
                    <div class="main-news position-relative">
                        <img src="{{article.url_to_Image}}" alt="lorem" class="img-fluid">
                        <div class="position-absolute top-0 start-0 end-0 bottom-0 headline w-100">
                            <div class="position-absolute start-0 end-0  ps-lg-5 ps-3">
                                <h1 class="text-white fw-bold w-100 w-xl-75 py-3">
                                    {{article.title}}
                                </h1>
                                <a href="{{ article.url }}" target="_blank"
                                    class="btn btn-outline border-3 px-lg-5 px-3 text-white my-3 fs-6">Read
                                    Article</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 px-xl-5  d-none d-md-block">
                <div class="w-100">
                    {% for article in headlines[10:12] %}
                    <div class="cols-6 mx-auto">
                        <div class="news-card h-100">
                            <div class="news-image w-100 mb-2"
                                style="background-image: url('{{article.url_to_Image}}');">

                            </div>
                            <a href="{{article.url}}" target="_blank" class="fw-bold text-secondary fs-5 clamp">{{article.title}}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="tags d-flex flex-wrap justify-content-center align-items-center mt-4">
            {{displayNewstags(tags)}}
        </div>
    </div>
</section>
<!-- end banner -->
<style>
    .clamp {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>